@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="Appointment/Create" class="btn btn-primary btn-lg">Randevu Oluştur &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Müşteri Listesi</h2>
        <p>
            Tüm müşterilerinin kaydını tutabilmeli
        </p>
        <p>@Html.ActionLink("Müşteri Listesi","Index","Car")</p>
    </div>
    <div class="col-md-4">
        <h2>Tüm müşterilerine ait araçların listesi</h2>
        <p>@Html.ActionLink("Müşterilere ait araçların listesi", "Index", "User")</p>
    </div>
    <div class="col-md-4">
        <h2>Randevu Listesi</h2>
        <p>@Html.ActionLink("Randevu Listesi", "Index", "Appointment")</p>
    </div>
</div>